data/*
frames/*
project-notes.md
src/__pycache__/
src/*.pyc
src/__pycache__/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE / Editor configs
.vscode/
.idea/
*.swp